/*
 * Copyright 2026 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <arm/nxp/s32/nxp_s32k358_m7.dtsi>
#include "s32k3x8evb-pinctrl.dtsi"
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "NXP S32K3X8EVB-Q289";
	compatible = "nxp,s32k3x8evb";

	chosen {
		zephyr,sram = &sram0_2;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
		zephyr,itcm = &itcm;
		zephyr,dtcm = &dtcm;
		zephyr,console = &lpuart13;
		zephyr,shell-uart = &lpuart13;
		zephyr,flash-controller = &c40fc;
	};

	aliases {
		led0 = &rgbled0_red;
		led1 = &rgbled0_green;
		led2 = &rgbled0_blue;
		sw0 = &user_sw0;
		sw1 = &user_sw1;
		watchdog0 = &swt0;
	};

	leds {
		compatible = "gpio-leds";

		/* User RGB LEDs D32/D33, driven through NPN transistors */
		rgbled0_red: led_0 {
			gpios = <&gpiog_h 13 GPIO_ACTIVE_HIGH>;
			label = "RGBLED0_RED (PTG29)";
		};

		rgbled0_green: led_1 {
			gpios = <&gpiog_h 14 GPIO_ACTIVE_HIGH>;
			label = "RGBLED0_GREEN (PTG30)";
		};

		rgbled0_blue: led_2 {
			gpios = <&gpiog_h 15 GPIO_ACTIVE_HIGH>;
			label = "RGBLED0_BLUE (PTG31)";
		};

		rgbled1_red: led_3 {
			gpios = <&gpiof_h 5 GPIO_ACTIVE_HIGH>;
			label = "RGBLED1_RED (PTF21)";
		};

		rgbled1_green: led_4 {
			gpios = <&gpiof_h 6 GPIO_ACTIVE_HIGH>;
			label = "RGBLED1_GREEN (PTF22)";
		};

		rgbled1_blue: led_5 {
			gpios = <&gpiof_h 7 GPIO_ACTIVE_HIGH>;
			label = "RGBLED1_BLUE (PTF23)";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		/* User push buttons SW4/SW5, active high, pulled low */
		user_sw0: button_0 {
			gpios = <&gpioh_l 1 GPIO_ACTIVE_HIGH>;
			label = "USER_SW0 (PTH1)";
			zephyr,code = <INPUT_KEY_0>;
		};

		user_sw1: button_1 {
			gpios = <&gpioh_l 3 GPIO_ACTIVE_HIGH>;
			label = "USER_SW1 (PTH3)";
			zephyr,code = <INPUT_KEY_1>;
		};
	};
};

&pmc {
	/* Run mode drawing from PLL requires the last-mile regulator */
	lm-reg;
	/* V15 comes from the on-board NPN pass transistor driven by VRC_CTRL
	 * (J691 default position 1-2 routes V15_NPN to V15_MCU).
	 */
	lm-reg-base-control;
};

&c40fc {
	status = "okay";
};

&flash0 {
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		ivt_header: partition@0 {
			label = "ivt-header";
			reg = <0x00000000 0x100>;
		};

		code_partition: partition@100 {
			label = "code-partition";
			reg = <0x00000100 (DT_SIZE_K(8144) - 0x100)>;
		};
	};
};

&eirq0 {
	pinctrl-0 = <&eirq0_default>;
	pinctrl-names = "default";
	status = "okay";
};

&gpiof_h {
	status = "okay";
};

&gpiog_h {
	status = "okay";
};

&gpioh_l {
	status = "okay";
};

&lpuart13 {
	pinctrl-0 = <&lpuart13_default>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};
